<div class="reward" ontouchstart>
    <div class="reward-wrap">赏
        <div class="reward-box">
            <% if(theme.reward.alipay){ %>
                <span class="reward-type">
                    <img class="alipay" src="<%= theme.reward.alipay %>"><b>支付宝打赏</b>
                </span>
            <% } %>
            <% if(theme.reward.wepay){ %>
                <span class="reward-type">
                    <img class="wechat" src="<%= theme.reward.wepay %>"><b>微信打赏</b>
                </span>
            <% } %>
        </div>
    </div>
    <p class="reward-tip"><%= theme.reward.tip %></p>

    <!-- 社会分享工具 -->
    <div class="bdsharebuttonbox">
         <a href="#" class="bds_more" data-cmd="more"></a>
         <a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a>
         <a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a>
         <a href="#" class="bds_weixin" data-cmd="weixin"></a>
    </div>
     <script>
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
     </script>
</div>

